<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="" type="" href="" />
    <meta name="generator" content={Astro.generator} />
    <title>Dinámico-Astro alpha 0.0.1</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }
</style>
